<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <table class="table caption-top">
                <caption style="align-self: center; font-size: large;">Lista de Pokemones</caption>
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of ItemsArray | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                  <tr >
                    <td>{{item.name}}</td>
                    <td><button class="btn btn-primary" routerLink="/selpokemon">Detalles</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


<!-- <div class="pagination-wrapper">
  <pagination-controls ></pagination-controls>
</div> -->


<div class="pagination-wrapper container d-flex justify-content-center align-items-center mt-5">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>

