<div class="container mt-5">
<button class="btn btn-primary mx-5 mt-3" (click)="scrollPosistion()" routerLink="">Regresar</button>

  <div class="card mt-3 mx-5 mb-5">
    <div class="card-body">
      <div class="row">
        <div *ngFor="let pokemon of pokemons" class="col-md-6 text-center mb-3">
          <h3>{{ pokemon.name }}</h3>
          <img [src]="getPokemonImageUrl(pokemon.url)" alt="{{ pokemon.name }}" class="img-fluid mb-2">
          <button class="btn btn-danger" [routerLink]="['/details', pokemon.name]">Detalles</button>
          <hr>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary ms-2 pt-3 pb-3 badge text-wrap" (click)="previousPage()">Anterior</button>
        <button class="btn btn-primary ms-2 pt-3 pb-3 badge text-wrap" (click)="nextPage()">Siguiente</button>
      </div>
      <div class="d-flex col justify-content-center mt-4">
        
        <!-- <div class="p-1 mt-1 p-2" style="border: 1px solid black;">
          <p>Seleccionar</p> 
          <p>Paginación</p>  
        </div> -->

        <div class="badge bg-primary text-wrap pt-2 mx-2" style="width: 6rem;">
          Seleccionar Num. Items 
        </div>

        <div *ngFor="let lim of limits" class="">
          <!-- <div class="ms-2 p-1" (click)="selectNumPag(lim)" style="border: 1px solid black;">{{lim}}</div> -->
          <button class="btn btn-dark m-1" (click)="selectNumPag(lim)">{{lim}}</button>
        </div>

      </div>
    </div>
  </div>
</div>






