<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">

            <h1>APP POKEMON</h1>
            <hr>
            <br>
       
            <!-- <p>En esta pagina podras realizar consultas sobre Pomekemones utilizando la API <a class="link-success" href="https://pokeapi.co/docs/v2">https://pokeapi.co/docs/v2</a></p> -->
            <p>En esta página podrás realizar consultas sobre Pokémones utilizando la API <a class="link-success" href="https://pokeapi.co/docs/v2" target="_blank">https://pokeapi.co/docs/v2</a></p>

            <br>
            <button class="btn btn-primary" routerLink="list">Ver listado</button>
            <button class="btn btn-primary ms-3" routerLink="search">Buscar</button>
        </div>
    </div>
</div>